@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  @apply text-4xl;
  @apply text-center;
}

h2 {
  @apply text-3xl;
  @apply text-center;
}

body {
  @apply m-10;
  font-family: 'Montserrat', sans-serif;
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_dJE3gnD-w.ttf') format('truetype');
}